{% extends 'base.html.twig' %}

{% block title %}{{ 'login_title'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .login-container {
            max-width: 400px;
            margin: 80px auto;
            padding: 20px;
            background: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .navbar {
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 2px 4px rgb(91, 62, 44);
            z-index: 10;
        }
        .btn-block {
            margin-top: 1.5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="login-container">
        <h2 class="text-center">{{ 'login_header'|trans }}</h2>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <!-- login form -->
        <form action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <label for="username">{{ 'login_email_username_label'|trans }}</label>
                <input type="text" id="username" name="_username" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">{{ 'login_password_label'|trans }}</label>
                <input type="password" id="password" name="_password" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            <button type="submit" class="btn btn-primary btn-block">{{ 'login_button'|trans }}</button>
        </form>
    </div>
    </div>
{% endblock %}