{% extends 'base.html.twig' %}

{% block title %}Booking Overview{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ 'booking_overview'|trans }}</h1>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>User</th>
                <th>E-Mail</th>
                <th>Date</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Floor</th>
                <th>Room</th>
                <th>Desk</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.user.lastName }} {{ booking.user.firstName }}</td>
                    <td>{{ booking.user.email }}</td>
                    <td>{{ booking.date|date('Y-m-d') }}</td>
                    <td>{{ booking.startTime|date('H:i') }}</td>
                    <td>{{ booking.endTime|date('H:i') }}</td>
                    <td>{{ booking.floor }}</td>
                    <td>{{ booking.room }}</td>
                    <td>{{ booking.desk }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="text-center">No bookings found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}