{% extends 'base.html.twig' %}

{% block title %}Buchungsübersicht{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Buchungsübersicht</h1>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Benutzer</th>
                <th>E-Mail</th>
                <th>Datum</th>
                <th>Startzeit</th>
                <th>Endzeit</th>
                <th>Stock</th>
                <th>Raum</th>
                <th>Tisch</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.user.lastName }} {{ booking.user.firstName }}</td>
                    <td>{{ booking.user.email }}</td>
                    <td>{{ booking.date|date('Y-m-d') }}</td>
                    <td>{{ booking.startTime|date('H:i') }}</td>
                    <td>{{ booking.endTime|date('H:i') }}</td>
                    <td>{{ booking.floor }}</td>
                    <td>{{ booking.room }}</td>
                    <td>{{ booking.table }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="text-center">Keine Buchungen gefunden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}