{% extends 'base.html.twig' %}

{% block title %}Benutzer bearbeiten{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Benutzer bearbeiten</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, { 'attr': { 'class': 'form-control' } }) }}
            <small class="form-text text-muted">Lassen Sie das Feld leer, um das Passwort nicht zu ändern.</small>
        </div>
        <button class="btn btn-primary mt-3">Speichern</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
